body{
    background: black;
}

*{
    max-width:1200px;
    margin: 0px auto;
}
.piano-main{
    display: flex;
    width: 900px;
    height: 300px;
    margin-top: 25%;
}
.piano_song{
    text-align: center;
    flex-grow: 2;
    margin: 5px;
  
}
.piano-size{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
    color: black;  
}
.piano-size:hover{
    background: blueviolet;
}